<div class="page-header">
  <h1>Google Authenticator&nbsp;<small>Demo App</small></h1>
</div>

<div class="col-md-3">
	<h3>Gems Used in App</h3>
	<hr>
	<div class="list-group">
	  <button type="button" class="list-group-item"><a href="https://github.com/plataformatec/devise">Devise</a></button>
	  <button type="button" class="list-group-item"><a href="https://github.com/AsteriskLabs/devise_google_authenticator">Devise Google Authenticator</a></button>
	  <button type="button" class="list-group-item"><a href="https://github.com/bootstrap-ruby/rails-bootstrap-forms">Bootstrap Rails Forms</a></button>
	  <button type="button" class="list-group-item"><a href="https://github.com/twbs/bootstrap-sass">Bootstrap Sass</a></button>
	  <button type="button" class="list-group-item"><a href="https://rubygems.org/gems/pg">Postgresql DB</a></button>
	</div>
</div>
<div class="col-md-9">
	<div class="jumbotron">
	  <h1>Hello, World!</h1>
	  <p>Sign Up &amp; Login to read secure private notes</p>
	  <p>Read how to integrate Google Authenticator into your ruby on rails app.</p>
	  <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg' %></p>
	</div>
</div>